.wrapper {
  max-width: 960px;
}

header {
  display: flex;
  align-items: center;
  height: 60px;
}

a {
  text-decoration: none;
  color: black;
}

.logo {
  width: 120px;
  height: 40px;
  display: inline-block;
}

nav {
  margin-left: auto;
  margin-right: 20px;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

li:not(:first-child) {
  margin-left: 20px;
}
