.about {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: relative;
}
.about-photo {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50% 50%;
  position: relative;
  bottom: 20px;
}

.name {
  margin: 0 auto;
  font-weight: bold;
  font-size: 2rem;
  text-align: left;
  position: relative;
  left: 16px;
}

.about-text {
  display: flex;
  overflow: hidden;
  position: relative;
  left: 16px;
  bottom: 10px;
  text-align: left;
}
